#recommend_box {
    left: 25%;
    top:25%;
    width: 50%;
    position: fixed;
    padding: 1.5em 0;
    z-index: 1;
}

#recommend_box fieldset {
    background: white;
}

div.plugin__recommend {
    width: 50%;
    text-align: center;
    font-size: 120%;
    padding: 2em;
}

form#plugin__recommend {
    width: 100%;
    text-align: center;
}

form#plugin__recommend p {
    font-size: 90%;
    text-align: left;
}

form#plugin__recommend fieldset {
    width: 90%;
}

form#plugin__recommend label {
    display: block;
    overflow: auto;
    margin: 5px;
}

form#plugin__recommend label span {
    width: 28%;
    text-align: right;
    display: block;
    float: left;
}

form#plugin__recommend label input {
    float: left;
    margin-left: 5px;
}

form#plugin__recommend label textarea.edit,
form#plugin__recommend label input.edit {
    width: 68%;
    display: block;
    float: left;
    margin-left: 5px;
}
